[Desktop Entry]
Encoding=UTF-8
Name=Link to https://3ks0t12eustb2sr0rx1nk7vm-wpengine.netdna-ssl.com/wp-content/uploads/2015/01/Freq1-300x178.jpg
Type=Link
URL=https://3ks0t12eustb2sr0rx1nk7vm-wpengine.netdna-ssl.com/wp-content/uploads/2015/01/Freq1-300x178.jpg
Icon=image-jpeg
Name[en_US]=favicon.ico
